<table style="width: 40%;">
    <caption>TCP Client</caption>
    <thead>
        <tr>
            <th style="width: 150px;">Tag</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>IP</td>
            <td>
                <input type="text" name="Content[TCPClient][IP]" id="ip" 
                <% if(platform.Content.TCPClient) { %> value="<%= platform.Content.TCPClient.IP %>" <% } %> >
            </td>
        </tr>
        <tr>
            <td>Port</td>
            <td>
                <input type="text" name="Content[TCPClient][Port]" id="port"
                <% if(platform.Content.TCPClient) { %> value="<%= platform.Content.TCPClient.Port %>" <% } %> >
            </td>
        </tr>
    </tbody>
</table>